<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PokemonType</key>
		<string>Fire</string>
		<key>Pokemon</key>
		<array>
			<string>charmander</string>
			<string>charmeleon</string>
			<string>charizard</string>
			<string>growlithe</string>
			<string>arcanine</string>
			<string>vulpix</string>
			<string>ninetails</string>
		</array>
	</dict>
	<dict>
		<key>PokemonType</key>
		<string>Water</string>
		<key>Pokemon</key>
		<array>
			<string>squirtle</string>
			<string>warturtle</string>
			<string>blastoise</string>
			<string>psyduck</string>
			<string>golduck</string>
			<string>lapras</string>
		</array>
	</dict>
	<dict>
		<key>PokemonType</key>
		<string>Grass</string>
		<key>Pokemon</key>
		<array>
			<string>bulbasaur</string>
			<string>ivysaur</string>
			<string>venasaur</string>
			<string>oddish</string>
			<string>gloom</string>
			<string>vileplume</string>
		</array>
	</dict>
	<dict>
		<key>PokemonType</key>
		<string>Rock</string>
		<key>Pokemon</key>
		<array>
			<string>geodude</string>
			<string>graveler</string>
			<string>golem</string>
			<string>onix</string>
		</array>
	</dict>
	<dict>
		<key>PokemonType</key>
		<string>Bug</string>
		<key>Pokemon</key>
		<array>
			<string>caterpie</string>
			<string>metapod</string>
			<string>butterfree</string>
			<string>weedle</string>
			<string>kakuna</string>
			<string>beedrill</string>
		</array>
	</dict>
	<dict>
		<key>PokemonType</key>
		<string>Flying</string>
		<key>Pokemon</key>
		<array>
			<string>pidgey</string>
			<string>pidgeotto</string>
			<string>pidgeot</string>
		</array>
	</dict>
</array>
</plist>
